.candidateTable {
    width: 55%;
    float: left;
    margin-top: 18px;
}
.interviewTable {
    margin-left: 2%;
    width : 43%;
    float: right;
}

.searchbox {
    width:60%;
    float: left;
}

.searchbtn {
    margin-left: 5%;
}

.div.custom-control {
    display: inline;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #4AC2DE;
  }